@model IEnumerable<Joe_s_Pizza.Models.Pizza>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:firebrick">Pizza List</h1>

<table class="table" id="cart">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
             <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr >
            <td>
                @Html.DisplayFor(modelItem => item.PizzaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td >
                 @Html.ActionLink("Add to Cart", "Cart", new { id=item.PizzaId } )
              </td>
        </tr>
}
    </tbody>
</table>
